* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h2 {
    color: black;
    font-size: 3rem;
}

.main-container {
    padding: 10px;
    max-width: 90%;
    /*width: 35%;*/
    border-radius: 1rem;
    margin-top: 4rem;
}

.form {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right top, rgba(58,90,255,0.56), #070b1f);
    min-height: 100vh;

}

.glass {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(100rem);
    /*z-index: 5;*/
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.2));
    width: 100vw;
    position: fixed;
    box-shadow: 0px 3px 10px #000000;
    height: 40px;
    z-index: 5;
}

@media screen and (max-width: 400px){
    .navbar{
        height: 80px;
        align-self: flex-end;
        /*margin: auto;*/
        /*margin: 0px;*/
    }
    .right{
        margin: auto;
        /*padding-left: 5%;*/
        padding-right: 0;
    }
    .left{
        margin: auto;
        padding-left: 0%;
    }
    #safeApp{
        /*margin-bottom: 0px;*/
    }
    *{
        font-size: 0.7em;
    }

}

.right {
    display: flex;
    padding-right: 5%;
    justify-content: flex-end;
    /*margin:auto;*/
}

.left {
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
}

.btn {
    color: #e2dfe0;
    border: none;
}

.inner-pass {
    color: rebeccapurple;
}

.ul {
    display: flex;
    justify-content: space-between;
}

#safeApp {
    position: absolute;
}

.dropdown {
    padding: 1rem;
    border-radius: 1em;
}

ul {
    list-style: none;
}

.dropdown li {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

button {
}

.dropdown li {
    text-decoration: none;
    cursor: default;
    color: black;
    width: 100%;
}

.dropdown li:hover {
    color: black;
    background: rgba(112,223,255,0.26)
}

.dropdown button {
    background: none;
    border: none;
}

.dropdown:hover {
    background: rgba(211,255,104,0.13);
}

/*.dropdown ul {*/
/*    opacity: 0;*/
/*    transition: all 0.3s ease;*/
/*    transform: translateY(70px);*/
/*}*/

.formbtn {
    color: black;
    padding: 0.5em;
    margin: 0.5em;
    border: #070b1f solid 1px;
}

.formbtn:hover {
    color: white;
}

#id_title,
#id_username,
#id_passw {
    width: 100%;
}

@media screen and (max-width: 650px){
    #id_title,
    #id_username,
    #id_notes,
    #id_passw {
        max-width: 50vw;
    }
}
