{% extends 'base.html' %}
{% load static %}

{% block title %}
Creating Entry for {{ user }} - SafeApp
{% endblock %}
{% block script %}
    <script src="{% static 'generator.js' %}"></script>
    <script src="{% static 'base.js' %}"></script>
{% endblock %}

{% block body %}
    {{ password }}
    <form method="POST" enctype="multipart/form-data" style="padding: 1em">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div style="display:flex; justify-content:space-between;">
            <button class="btn btn-sm btn-outline-primary formbtn" type="submit">Save</button>
            <a class="btn btn-sm btn-outline-secondary formbtn" href="../">Cancel</a>
        </div>

    </form>

{% endblock %}